.App {
  text-align: center;
}

.formLabel {
  font-size: 125%;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.borderInput {
  border: 2px solid #02519b;
}

.larger {
  font-size: 23px;
}